* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', 'Times New Roman', sans-serif;
  font-size: 1.1em;
}
a {
  color: #71b4e6;
}
a:hover {
  color: #000;
}
#content {
  margin: 0 auto;
  overflow: hidden;
}
header {
  background: #ececec;
  width: 100%;
  padding: 20px 0;
}
.main-nav {
  margin-top: 20px;
}
.main-nav li {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 15px 0;
  text-align: center;
  background: #e2e2e2;
  color: #8e8e8e;
}
.main-nav li.active {
  background: #335f80;
  color: #71b4e6 !important;
  font-weight: bold;
}
.main-nav li:hover {
  color: #000;
}
.search-input {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  height: 50px;
  border: 0;
}
.results {
  margin-top: 20px;
}
.member-info {
  float: left;
  display: inline-block;
  margin: 0 20px 30px;
}
.member-avatar {
  width: 150px;
  height: 150px;
}
.repo-info {
  list-style: none;
  margin: 30px 0 30px 10px;
}
.repo-info:first-child {
  margin-top: 0;
}
.repo-name {
  font-size: 1.2em;
}
