// Cores

$cor_branca: #ffffff;
$cor_azul:#0265c1;
$cor_amarela: #fdc23f;
$cor_laranja: #ef5737;


$bg_body: #1dafcb;

// Formulario

$textform_color: #787878;

// Componentens botões
$btn_colortxt: #ffffff;

// Resultado app
$boxresut_bg: #ffffff;
$boxresut_cortxt: #918c8c;

