.text-center{
  text-align: center;
}

.card-media > img{
  max-height: 240px;
}

.user-info > p{
  margin: 1px !important;
}

.margin-top{
  margin-top: 15px !important;
}

.repository-item{
  width: 100%;
}

.text-left{
  text-align: left;
}