
//Variables
$height: 100px;

developer-component{
    
    .custom-margin{
        margin-top: $height;
    }
    .custom-margin-developers {
        margin-top: $height/2;
    }
    .custom-min-height{
        min-height: $height*3 + 20;
    }
    
}