
$white: #fff;
$black: #000;
$gray-darker: lighten($black, 13.5%);
$gray-dark: lighten($black, 20%);
$gray: lighten($black, 33.5%);
$gray-light: lighten($black, 60%);
$gray-lighter: lighten($black, 93.5%);
$gray-lightest: lighten($black, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
