$azul:   #01579b;
$branco: #fff;
$cinzaEscuro: #263238;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
