<div class="row" id="userRow">
  <div class="col-sm-5" id="formInfo">
    <h3>Mobile First</h3>
    <p> Web app adaptado para rodar em diferentes dispositos com o intuito de fornecer uma melhor experiencia ao usuário</p>
    <p> Dentre eles podemos cita: smartphones, iPhone,tablets,Desktops,Laptops</p>
  </div>
  <div class="col-sm-5">
      <img src="../../imgs/mobileFirst.png" id="mobileFirstImg"></img>
  </div>
</div>

<div class="row" id="redirectRow">
  <div class="col-sm-5" id="redirectColumn">
    <h3> Pronto para começar? <a ui-sref='search'>clique aqui</a></h3>
  </div>
</div>