
<div class="container">
    <div class="row footer">             
        <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
            <h5>Links</h5>
            <ul class="list-unstyled">
                <li><a ui-sref="app">Home</a></li>
                <li><a href="https://www.facebook.com/naruuto.shippuuden.7">Facebook</a></li>
                <li><a href="https://plus.google.com/b/113592971022430652033/113592971022430652033">Plus+</a></li>
                <li><a href="https://br.linkedin.com/in/paulosergio1977">Linkedin</a></li>
                <li><a href="https://twitter.com/Naruto_2012_">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCp4DinRBPaCzPSpFdBe-A7Q">Youtube</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-5">
            <h5>Contato:</h5>
            <address>
              <br>
              <i class="fa fa-phone"></i>: (21) 99639-7564<br>
              <i class="fa fa-envelope"></i>: 
                 <a href="mailto:paulo10.1977@yahoo.com.br">
                 paulo10.1977@yahoo.com.br</a>
            </address>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="nav navbar-nav" style="padding: 40px 10px;">
                <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/b/113592971022430652033/113592971022430652033"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/naruuto.shippuuden.7"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/paulosergio1977"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/Naruto_2012_"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/channel/UCp4DinRBPaCzPSpFdBe-A7Q"><i class="fa fa-youtube"></i></a>
                <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
        <div class="col-xs-12">
            <p style="padding:10px;"></p>
            <p align=center>© Copyright 2016 by <a href="https://br.linkedin.com/in/paulosergio1977" title="Paulo Galdino" >Paulo Galdino</a></p>
        </div>
    </div>
</div>