.wrap {
  margin: 0 auto;
  max-width: 960px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .wrap {
      padding: 0 10px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .wrap {
      padding: 0 10px; } }

.off {
  display: none; }

.fl {
  display: inline;
  float: left; }

.fr {
  display: inline;
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  height: 100%; }

.msg-error {
  color: red;
  display: block;
  font-size: 40px;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .msg-error {
      font-size: 20px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .msg-error {
      font-size: 30px; } }

.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 5px 18px;
  text-transform: uppercase; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset; }

.header {
  background: #ffffff;
  border-bottom: 1px solid #006db2;
  border-top: 5px solid #006db2;
  height: 100px;
  margin-bottom: 20px;
  padding: 30px 20px 20px 20px; }
  @media only screen and (max-width: 480px) {
    .header {
      height: 80px;
      padding: 20px 0; } }
  .header .logo {
    width: 216px; }
    @media only screen and (max-width: 480px) {
      .header .logo {
        width: 120px; } }
  .header .box-search {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid  #006db2;
    height: 32px; }
    .header .box-search input[type="text"] {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      border: none;
      height: 30px;
      padding-left: 10px;
      vertical-align: top; }
      @media only screen and (max-width: 480px) {
        .header .box-search input[type="text"] {
          width: 115px; } }
    .header .box-search .button-search {
      background: url(../img/search.png) center center no-repeat;
      background-size: 30px;
      border: 0;
      border-left: 1px solid #006db2;
      cursor: pointer;
      height: 30px;
      width: 40px; }

.footer {
  background: #006db2;
  bottom: 0;
  color: #ffffff;
  font-family: serif;
  font-size: 20px;
  left: 0;
  padding: 20px 0;
  position: fixed;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .footer {
      font-size: 16px;
      line-height: 1.4;
      padding: 10px 0;
      text-align: center; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
      font-size: 16px;
      line-height: 1.4;
      padding: 10px 0;
      text-align: center; } }
  @media only screen and (max-width: 480px) {
    .footer .copyright, .footer .developer {
      display: block;
      float: none; } }

.main {
  color: #333;
  line-height: 1.6;
  font-family: arial;
  padding-bottom: 70px; }
  @media only screen and (max-width: 480px) {
    .main {
      line-height: 1.4; } }
  .main .box-avatar {
    width: 100px; }
    @media only screen and (max-width: 480px) {
      .main .box-avatar {
        margin: 0 auto; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .main .box-avatar {
        margin: 0 auto; } }
  .main .avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%; }
  .main .url-owner {
    display: inline-block;
    text-align: right;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width: 50%; }
    @media only screen and (max-width: 480px) {
      .main .url-owner {
        text-align: center;
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .main .url-owner {
        text-align: center;
        width: 100%; } }
    .main .url-owner:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
  .main .name-owner, .main .url-owner {
    color: #006db2;
    font-family: monospace;
    font-size: 18px; }
    @media only screen and (max-width: 480px) {
      .main .name-owner, .main .url-owner {
        font-size: 14px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .main .name-owner, .main .url-owner {
        font-size: 14px; } }
  .main .name-owner {
    display: inline-block;
    text-align: left;
    width: 49%; }
    @media only screen and (max-width: 480px) {
      .main .name-owner {
        text-align: center;
        width: 100%; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .main .name-owner {
        text-align: center;
        width: 100%; } }
  .main .titulo-vaga {
    border-bottom: 1px solid #006db2;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-bottom: 0.3em; }
    @media only screen and (max-width: 480px) {
      .main .titulo-vaga {
        font-size: 1.25em; } }
  .main strong {
    font-size: 20px;
    display: block;
    margin-bottom: 20px; }
  .main ul {
    list-style: inherit; }
  .main .list-repo {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #d5d5d5;
    list-style: none;
    margin-top: 5px;
    padding: 10px 20px; }
    @media only screen and (max-width: 480px) {
      .main .list-repo {
        padding: 10px 5px; } }
    .main .list-repo li {
      background: #f7f7f7;
      border-top: 1px solid #d5d5d5;
      padding: 10px 0;
      position: relative; }
      .main .list-repo li:hover {
        background: rgba(212, 212, 212, 0.3); }
      .main .list-repo li:first-child {
        border-top: none; }
      .main .list-repo li div {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #eee;
        background-image: -webkit-linear-gradient(#fcfcfc, #eee);
        background-image: linear-gradient(#fcfcfc, #eee);
        border: 1px solid #d5d5d5;
        color: #333;
        display: inline-block;
        font-size: 12px;
        float: right;
        height: 26px;
        line-height: 26px;
        padding-left: 22px;
        position: absolute;
        right: 0;
        width: 80px; }
        .main .list-repo li div span {
          border-radius: 4px;
          -webkit-border-radius: 4px;
          background: #fff;
          border-left: 1px solid #d5d5d5;
          float: right;
          font-size: 12px;
          height: 23px;
          text-align: center;
          width: 22px; }
      @media only screen and (max-width: 480px) {
        .main .list-repo li .name-repo {
          display: inline-block;
          font-size: 12px;
          width: 115px; } }
      .main .list-repo li .star {
        background: url(../img/star.png) left center no-repeat;
        background-size: 20px;
        right: 90px; }
      .main .list-repo li .fork {
        background: url(../img/fork.png) 5px center no-repeat;
        background-size: 10px; }
