/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'opensansregular', sans-serif;
  color: $cor_branca;
  background-color: $bg_body;
}

.text-center { text-align: center; }
