/**
 * Background Colors
 */
$bg-form: #f1f1f1; // Formulário

/**
 * Background Buttons
 */
$default-button: #04558e;
$secondary-button: #e24700;

/**
 * Links
 */
$default-link: #04558e;
$secondary-link: #e24700;

/**
 * Borders
 */
$default-border: #04558e;
$secondary-border: #e24700;
