@font-face {
    font-family: "OfficinaSerifStd-Bold";
    src: url("../fonts/OfficinaSerifStd-Bold.eot");
    src: url("../fonts/OfficinaSerifStd-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OfficinaSerifStd-Bold.woff2") format("woff2"),
         url("../fonts/OfficinaSerifStd-Bold.woff") format("woff"),
         url("../fonts/OfficinaSerifStd-Bold.ttf") format("truetype"),
         url("../fonts/OfficinaSerifStd-Bold.svg#OfficinaSerifStd-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}
