.result-container
    margin: 0;
    li
        padding: 1rem 0;
        border-bottom: .1rem solid $light-grey;
        .avatar
            width: size = 3rem;
            height: size;
            vertical-align: bottom;
        .informations
            display: inline-block;
            padding-left: 1rem;
        h3
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
        p
            font-size: .8rem;
            color: $dark-grey;
